:root {
  --clr-bar: hsl(208, 19%, 50%);

  /* dark colors */
  --clr-dark-text: hsl(0, 0%, 93%);
  --clr-dark-500: hsl(218, 15%, 20%);
  --clr-dark-800: hsl(209, 44%, 12%);
  --clr-dark-accent: hsl(51, 73%, 32%);

  /* light colors */
  --clr-light-text: hsl(0, 0%, 15%);
  --clr-light-500: hsl(218, 15%, 75%);
  --clr-light-800: hsl(209, 39%, 65%);
  --clr-light-accent: hsl(51, 80%, 40%);

  --fw-regular: 500;
  --fw-bold: 600;
  --fw-black: 700;

  scroll-behavior: smooth;
}

.light-theme {
  --clr-foreground: var(--clr-light-text);
  --clr-background: var(--clr-light-500);
  --clr-strong: var(--clr-light-800);
  --clr-accent: var(--clr-light-accent);
  --clr-icon: 100%;
}

.dark-theme {
  --clr-foreground: var(--clr-dark-text);
  --clr-background: var(--clr-dark-500);
  --clr-strong: var(--clr-dark-800);
  --clr-accent: var(--clr-dark-accent);
  --clr-icon: 0%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--clr-background);
  color: var(--clr-foreground);
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  font-weight: var(--fw-regular);
  margin-top: 125px;
  text-align: center;
  transition: background-color 0.5s, color 0.5s;
}

h1 {
  margin-block: 0.5rem;
  font-size: clamp(1.5rem, 5vw, 2rem);
}

h2 {
  font-size: clamp(1.25rem, 4vw, 1.6rem);
}

h3 {
  margin-bottom: 1rem;
  letter-spacing: 2px;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

header {
  background-color: var(--clr-strong);
  color: var(--clr-foreground);
  box-shadow: 0 4px 10px var(--clr-background);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.title-bar {
  display: flex;
  justify-self: center;
  align-items: center;
  margin-inline-start: 2rem;
}

nav {
  background-color: var(--clr-bar);
  font-weight: var(--fw-bold);
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  overflow-x: auto;
  text-wrap: nowrap;
}

nav a {
  text-decoration: none;
  color: var(--clr-foreground);
  display: block;
  padding: 0.4rem;
}

nav a:hover,
footer a:hover {
  background-color: var(--clr-accent);
}

#btn-theme {
  border: none;
  background-color: var(--clr-strong);
  cursor: pointer;
  margin-inline-start: 2rem;
  padding-top: 4px;
}

.icon-theme {
  filter: brightness(100%) invert(var(--clr-icon)) contrast(100%) sepia(0);
}

.wrapper {
  --max-width: 930px;
  width: min(var(--max-width), 100% - 3rem);
  margin-inline: auto;
}

section {
  border-radius: 5px;
  margin-top: 1.2rem;
  margin-bottom: 2rem;
  margin-inline: auto;
}

section[id] {
  scroll-margin-top: 185px;
}

article {
  padding: 1.6rem;
  border-radius: 8px;
  background-color: var(--clr-strong);
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
}

.card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.card > * {
  flex: 1;
}

.card img {
  border-radius: 5px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
}

.card p {
  text-wrap: balance;
}

img.perfil {
  max-width: min(260px, 100%);
}

#tarjetas {
  display: grid;
  gap: 1.5rem;
  max-width: 800px;
}

.skills {
  background-color: var(--clr-strong);
  max-width: 600px;
  margin-inline: auto;
}

#habilidades .skills li {
  font-size: 1rem;
  padding: 0.75rem;
  background-color: var(--clr-background);
  border-radius: 5px;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.85rem;
  transition: background 0.3s ease;
  cursor: pointer;
}

#habilidades li:last-child {
  margin-bottom: 0;
}

#habilidades li:hover {
  background-color: var(--clr-accent);
}

#habilidades li::before {
  content: "💻";
  font-size: 1.3rem;
}

#habilidades li:nth-child(1)::before {
  content: "🌐";
}
#habilidades li:nth-child(2)::before {
  content: "🅰️";
}
#habilidades li:nth-child(3)::before {
  content: "☕";
}
#habilidades li:nth-child(4)::before {
  content: "🚀";
}
#habilidades li:nth-child(5)::before {
  content: "⚛️";
}

#contacto {
  max-width: 700px;
  text-align: start;
}

#contacto label {
  color: var(--clr-foreground);
  font-weight: var(--fw-bold);
}

#contacto label span {
  color: crimson;
}

#contacto button {
  width: 50%;
  padding: 0.75rem;
  display: block;
  margin-inline: auto;
  background-color: var(--clr-bar);
  color: var(--clr-text);
  font-weight: var(--fw-bold);
  border: none;
  border-radius: 5px;
  margin-top: 1.2rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

#contacto button:hover {
  background-color: var(--clr-accent);
}

.input-group {
  margin-bottom: 0.65rem;
}

.input-group input {
  font-size: 1rem;
  width: 100%;
  border: 3px solid var(--clr-bar);
  background-color: var(--clr-background);
  color: var(--clr-foreground);
  padding: 0.75rem;
  border-radius: 5px;
  margin-top: 0.6rem;
  outline: none;
  transition: border-color 0.3s ease;

  &:focus-visible {
    border-color: var(--clr-accent);
    box-shadow: 0 0 3px 0 var(--clr-accent);
  }
}

.popup-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

#error-popup {
  visibility: hidden;
  color: var(--clr-foreground);
  position: fixed;
  top: 12%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--clr-strong);
  padding: 0.5rem;
  border-radius: 5px;
  border: 3px solid transparent;
  opacity: 0;
  transition: opacity 0.2s ease, visibility 0s 0.2s;
}

#error-popup.show {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s ease, visibility 0s 0s;
}

#error-popup.error {
  border: 3px solid red;
}

#error-popup.warning {
  border: 3px solid gold;
}

#error-popup.success {
  border: 3px solid green;
}

#peliculas {
  border-radius: 8px;
  background-color: var(--clr-strong);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: fit-content;
  padding: 1.5rem;
  gap: 1.5rem;
  margin-bottom: 4rem;
}

.pelicula {
  background-color: var(--clr-background);
  flex: 1 1 1;
  max-width: 270px;
  cursor: pointer;
  transition: transform 0.3s ease, background 0.3s ease;
}

.pelicula:hover {
  background-color: var(--clr-accent);
  transform: scale(1.02);
}

.pelicula img {
  max-height: 286px;
  border-radius: 5px;
  margin-bottom: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.pelicula h3 {
  color: var(--clr-foreground);
  font-weight: var(--fw-bold);
  margin-bottom: 0.5rem;
}

.pelicula p {
  color: var(--clr-foreground);
  font-weight: var(--fw-regular);
  font-size: 1rem;
}

footer {
  background-color: var(--clr-strong);
  text-align: center;
  padding-block: 2rem;
  margin-top: 1rem;
}

footer p {
  color: var(--clr-foreground);
  font-weight: var(--fw-bold);
  margin-bottom: 0.8rem;
}

footer ul {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  padding: 0;
}

footer li {
  display: inline-block;
  overflow-x: hidden;
}

footer a {
  color: var(--clr-foreground);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: color 0.3s ease;
}

footer a:hover {
  color: var(--clr-accent);
  background-color: transparent;
}

footer svg {
  width: 24px;
  height: 24px;
  fill: var(--clr-foreground);
  transition: fill 0.3s ease;
}

footer a:hover svg {
  fill: var(--clr-accent);
}
